* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --main-grey: #666;
    --main-color: #92a7d1;
}

body {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

header {
    display: flex;
    padding: 20px 50px;
    justify-content:space-between;
    align-items: center;
    background-color: var(--main-color);
    grid-row: 1;
    grid-column: 1 / -1;
}

textarea {
    resize: none;
}

/* Side bar */
.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #dde2ee;
    grid-row: 2;
    grid-column: 1;
    width: 250px;
    padding: 30px 20px;
    box-sizing: border-box;
}

.sidebar-main-container {
    margin-bottom: 20px;
}

#sidebar-add {
    width: 100%;
    color: #6184cc;
    background-color: inherit;
}

.active {
    background-color: aliceblue;
}

.sidebar-item {
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.sidebar-item > i {
    margin-right: 10px;
}

.sidebar-item:hover {
    background-color: aliceblue;
}

.todo-count {
    margin-left: auto;
    font-size: 14px;
    color: #666;
}

#project-label {
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#add-project {
    color: red;
    cursor: pointer;
    font-size: 24px;
}

#add-project:hover {
    color: black;
}

.sidebar-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 18px;
    margin-top: auto;
}

/* Content */
.content {
    display: flex;
    flex-direction: column;
    grid-row: 2;
    grid-column: 2;
    padding: 30px 8vw; 
}

.content-title {
    margin-bottom: 20px;
}

.list-item {
    box-sizing: border-box;
    display: flex;
}

.todo-item {
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    align-items: center;
    padding: 10px 15px 10px 0px;
    border-bottom: 1px solid var(--main-grey);
    flex: 1;
}

.todo-priority {
    display: block;
    width: 3px;
    height: 100%;
    background-color: #6184cc;
    margin-right: 5px;
}

.todo-circle {
    margin-right: 10px;
    cursor: pointer;
}

.todo-item-start-body {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.todo-title {
    font-size: 18px;
}

.todo-description {
    color: #666;
    font-size: 14px;
}

.todo-date {
    font-size: 15px;
}

.todo-item-end-body {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.todo-btn {
    background-color: transparent;
    font-size: 22px;
    cursor: pointer;
}

.content-add-task {
    padding: 10px 15px 10px 0px;
    color: #6184cc;
    flex: 1;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fff;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.title-input {
    border: none;
    outline: 0;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.description-input {
    border: none;
    outline: 0;
    font-size: 16px;
    margin-bottom: 5px;
}

label[for="due-date"] {
    margin-bottom: 10px;
    color: #666;
}

/* Form border styles */
input[id="due-date"], select[id="projects-select"], select[id="priority-select"] {
    border: 1px solid lightgrey;
    padding: 5px;
    border-radius: 5px;
}

input[id="due-date"], select[id="priority-select"] {
    margin-left: 10px;
}

label[for="priority-select"] {
    color: #666;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid grey;
}

select[id="projects-select"] {
    width: 25%;
}

.modal-btns {
    display: flex;
    gap: 10px;
}

.cancel-btn, .add-btn {
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
}

.cancel-btn {
    background-color: rgb(255, 181, 181);
    color: #111;
}

.add-btn {
    background-color: var(--main-color);
    color: white;
}

.form-footer {
    display: flex;
    justify-content: space-between;
}

.close {
    position: absolute;
    top: 0px;
    right: 10px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
